/**
 * Footer Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

footer {
    background:$dkblue;
    color:$white;
    .footer {
        padding:30px 0 60px;
        .container {
            .columns {
                display: grid;
                grid-template-areas: 
                    "left middle right"
                    "lower lower right";
                grid-template-columns: 1fr 1fr 1fr;
                @media screen and (max-width: $screen-md) {
                    display: block;
                }
                .footer-inner {
                    &.left {
                        grid-area: left;
                        padding: 5px 30px 0 0;
                    }
                    &.middle {
                        grid-area: middle;
                        padding-right: 30px;
                        @media screen and (max-width: $screen-md) {
                            padding-right: 0;
                        }
                    }
                    &.right {
                        grid-area: right;
                        .gform-body {
                            label {
                                color: $dkblue;
                            }   
                            input[type="submit"] {
                                margin: 15px 0 !important;
                                cursor: pointer;
                            }
                        }
                    }
                    &.lower {
                        grid-area: lower;
                        padding: 0 30px 30px 0;
                    }
                    .contact-info {
                        @media screen and (max-width: $screen-xxs) {
                            p, a {
                                font-size: 16px;
                            }
                        }
                    }
                    @media screen and (max-width: $screen-sm) {
                        &.left,
                        &.middle,
                        &.right,
                        &.lower {
                            padding: 15px 0 5px;
                        }
                    }
                    @include footer-contact;
                    p {
                        color: $white;
                        a {
                            color:$white;
                            word-break: break-word;
                        }
                        &.phone_big {
                            font-size: 26px;
                            font-family: $sans;
                            font-style: normal;
                            font-weight: 500;
                            color: $ltblue;
                            text-transform: uppercase;
                            margin: 0px 0px 20px 0px;
                            @media screen and (max-width: $screen-sm) {
                                font-size: 22px;
                            }
                            a {
                                color:$white;
                                font-weight: normal;
                                @media screen and (max-width: $screen-sm) {
                                    display: block;
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                    span[itemprop="name"],
                    span[itemprop="description"] {
                        font-family: $sans;
                        font-size: 14px;
                        line-height: 100%;
                        margin: 0;
                        display:inline;
                    }
                    .icon-Worgul-Icon-Pencil {
                        color: $ltblue;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                    #menu-footer-menu {
                        list-style-type: none;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0;
                        li {
                            margin: 0 0 3px !important;
                            a {
                                padding-right: 10px;
                                font-family: $serif;
                                color:$white;
                                font-size: 14px;
                                position: relative;
                                &::after {
                                    content: "|";
                                    color:$white;
                                    margin-left: 10px;
                                }
                                &:hover {
                                    color:$white;
                                }
                            }
                            &:last-child {
                                a {
                                    &::after {
                                        display:none;
                                    }
                                }
                            }
                            &.site-design {
                                margin-left: 20px !important;
                                position: relative;
                                &::before {
                                    content: "\e913'";
                                    color: $white;
                                    position: absolute;
                                    left: -20px;
                                    font-size: 14px;
                                    font-family: $icomoon;
                                    font-size: 14px;
                                    font-weight: normal;
                                    top: 2px;
                                    display:block !important
                                }
                            }
                            &::before {
                                display:none;
                            }
                        }
                    }
                    .footer-disclaimer {
                        font-family: $serif;
                        font-size: 11px;
                        line-height: 110%;
                        margin:15px 0 !important;
                        color:$white;
                    }
                }
            }
        }
        
    }
    .footer-copyright {
        padding: 5px 0;
        background: $ltblue;
        display: block;
        p {
            color:$white;
            font-family: $serif;
            font-size: 14px;
            line-height: 100%;
            text-align: center !important;
            width: 100%;
        }
    }
}