/**
 * Header Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

/**
 * Header Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

header {
    background:$dkblue;
    z-index: 999;
    width: 100%;
    @media screen and (max-width: $screen-md) {
        position: fixed;
        z-index: 999;
        width: 100%;
    }
    #header-top {
        @include plain_text_logo;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        position: relative;
        @media screen and (max-width:$screen-lg-md) {
            padding: 0 10px !important;
        }
        @media screen and (max-width:$screen-md) {
            align-items: flex-end;
        }
        #header-top_left {
            display: flex;
            width: auto;
            justify-content: flex-start;
            
            @media screen and (max-width:$screen-lg) {
                width: 23%;
            }
            @media screen and (max-width:$screen-md) {
                width:80%;
            }
        }
        #header-top_right {
            @media screen and (max-width:$screen-lg) {
                width: 77%;
                display: flex;
                justify-content: flex-end;
            }
            #header-top_menu {
                .menu {
                    list-style-type: none;
                    display: flex;
                    padding-bottom:0 !important;
                    align-items: center;
                    z-index: 110;
                    @media screen and (max-width:$screen-md) {
                        padding: 0 !important;
                        top: 90px;
                        background: $dkblue;
                        height: auto;
                        position: absolute;
                        left: -20px;
                        width: 100%;
                        box-sizing: border-box;
                        height: calc(100vh - 90px);
                        overflow-y: scroll;
                    }
                    li {
                        display: flex;
                        margin-left:5px;
                        position: relative;
                        height: auto;
                        &:first-of-type {
                            margin-left: 0;
                        }
                        .accordion-toggle {
                            display:none;
                        }
                        @media screen and (max-width:$screen-md) {
                            display:flex;
                            margin: 0;
                            flex-wrap: wrap;
                            border-bottom: 1px solid #ccc;
                            padding-bottom: 0;
                            padding: 10px 4%;
                            &.menu-item-search {
                                border-bottom: 0;
                            }
                            .accordion-toggle {
                                position: absolute;
                                top: 8px;
                                right: 10px;
                                z-index: 10;
                                width: 30px;
                                height: 30px;
                                transition:$trans;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                span {
                                    color: $yellow;
                                    font-size: 18px;
                                    transition:$trans;
                                }
                                &.toggle-background {
                                    transition:$trans;
                                    .toggle-rotate {
                                        transform: rotate(90deg) !important;
                                        transition:$trans;
                                        top:0 !important;
                                        position: relative;
                                    }
                                } 
                            }                   
                        }
                        &:first-of-type {
                            margin-left:0;
                        }
                        &:hover {
                            background: $menuhoverblue !important;
                            & > a {
                                color: $white !important;
                            }
                            ul.sub-menu {
                                display:flex;
                                flex-wrap: wrap;
                                z-index: 0;
                                li {
                                    a {
                                        background:none;
                                        color:$white !important;
                                        &:hover {
                                            color:$yellow !important;
                                        }
                                    }
                                }
                            }
                            @media screen and (max-width:$screen-md) {
                                ul.sub-menu {
                                    display:none;
                                }
                            }
                        }
                        &.current-menu-parent,
                        &.current-menu-item,
                        &.current-page-ancestor {
                            a {
                                color:$yellow !important;
                                &:before {
                                    right: 20px;
                                    bottom: 0;
                                    display:block !important;
                                    @media screen and (max-width:$screen-md) {
                                        display:none !important;
                                    }
                                }
                                @media screen and (max-width:$screen-md) {
                                    color:$yellow !important;
                                    background:none;
                                }
                                &:before {
                                    display:none;
                                }

                            }
                            &:hover {
                                a {
                                    color:$white;
                                    @media screen and (max-width:$screen-md) {
                                        color:$yellow;
                                    }
                                }
                                .sub-menu {
                                    left:-20px;
                                    @media screen and (max-width:$screen-md) {
                                        left:0;
                                    }
                                    .current_page_item {
                                        a {
                                            color:$yellow !important;
                                        }
                                    }
                                    .current-menu-item {
                                        .sub-menu {
                                            background: $menuhoverblue !important;
                                            li {
                                                &:hover {
                                                    background: $white !important;
                                                    a {
                                                        color: $menuhoverblue !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            color:$white;
                            padding:0 8px;
                            text-transform: none;
                            font-size: 16px;
                            font-family: $sans;
                            text-transform: uppercase;
                            font-weight:600;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            vertical-align: middle;
                            -webkit-transform: perspective(1px) translateZ(0);
                            transform: perspective(1px) translateZ(0);
                            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                            position: relative;
                            overflow: hidden;
                            text-decoration: none !important;
                            z-index: 1;
                            height:90px;
                            @media screen and (max-width:$screen-lg) {
                                padding:0 4px !important;
                                font-size: 15px;
                            }
                            @media screen and (max-width:$screen-md) {
                                padding:10px 0;
                                font-size: 20px;
                                font-family: $serif;
                                color:$white;
                                height: auto;
                                text-transform: none;
                                line-height: 125%;
                            }
                            &:hover {
                                background:$mdblue;
                            }
                            &:hover,
                            &.current_page_item {
                                color:$white;
                            }
                        }
                        ul.sub-menu {
                            width: auto;
                            white-space: nowrap;
                            transition: $trans;
                            position: absolute;
                            overflow: visible;
                            background: $menuhoverblue;
                            z-index: 500;
                            margin-top: 0;
                            padding: 0 !important;
                            display: none;
                            width: auto;
                            top:25px !important;
                            top: 90px !important;
                            left: -20px;
                            z-index: 101 !important;
                            @media screen and (max-width:$screen-md) {
                                position: relative;
                                width: 100%;
                                background:none;
                                left:0;
                                padding: 0 !important;
                                transition:none;
                                margin-top:10px;
                                margin-bottom: 10px;
                                top:0 !important;
                                &:hover {
                                    margin-top: 10px;
                                    padding:0 !important;
                                    left:0 !important;
                                }
                            }
                            li {
                                display:flex;
                                margin: 0;
                                height:auto;
                                width:100%;
                                &:hover {
                                    background: $blue !important;
                                    a {
                                        color: $white !important;
                                        &:hover {
                                            color: $white !important;
                                        }
                                    }
                                    @media screen and (max-width:$screen-md) {
                                        background: none !important;
                                        a {
                                            color: $white !important;
                                        }
                                    }
                                }
                                @media screen and (max-width:$screen-md) {
                                    padding: 0;
                                    border-bottom: none;
                                }
                                .accordion-toggle { 
                                    top:0;
                                }
                                a {
                                    color:$white;
                                    font-family: $sans;
                                    font-size: 16px;
                                    font-weight: 500 !important;
                                    text-transform: none;
                                    letter-spacing: 0;
                                    transition:.3s ease all;
                                    padding: 20px;
                                    width:100%;
                                    line-height: 100%;
                                    height:30px;
                                    text-transform: uppercase;
                                    transition: $trans;
                                    &:before {
                                        display:none !important;
                                    }
                                    @media screen and (max-width:$screen-md) {
                                        font-size:18px;
                                        padding-left:20px;
                                    }
                                }
                                &.current-menu-item {
                                    a {
                                        color:$white;
                                        transition: $trans;
                                        @media screen and (max-width:$screen-md) {
                                            color:$yellow;
                                        }
                                    }
                                }
                                ul.sub-menu {
                                    position: absolute !important;
                                    top: 0px !important;
                                    margin: 0;
                                    width: auto;
                                    display: none;
                                    background: $ltblue !important;
                                    &.left {
                                        left:auto;
                                        right:100%;
                                    }
                                    &.right {
                                        left:100%;
                                        right:auto;
                                    }
                                    @media screen and (max-width:$screen-md) {
                                        position: relative !important;
                                        width: 100%;
                                        background:none;
                                        left:auto !important;
                                        right:auto !important;
                                        padding: 0 !important;
                                        transition:none;
                                        margin-top:10px;
                                        margin-bottom: 10px;
                                        margin-left: 20px;
                                        top:0 !important;
                                        &:hover {
                                            background:#002c46;
                                        }
                                    }
                                    li {
                                        &:hover {
                                            background: $dkblue !important;
                                        }
                                        a {
                                            @media screen and (max-width:$screen-md) {
                                                color: $menuhoverblue !important;
                                            }
                                        }
                                    }
                                }
                                &.menu-item-has-children {
                                    &:hover {
                                        ul.sub-menu {
                                            display:block;
                                            @media screen and (max-width:$screen-md) {
                                                display:none;
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover li.menu-item-has-children {
                                color:$white;
                            }
                        }
                    }
                    @media screen and (max-width:$screen-md) {
                        display:none;
                    }
                }
            }
        }
    }
    #header-top_mobile {
        display:none;
        @media screen and (max-width:$screen-md) {
            display: block;
            position: absolute;
            top: 30px;
            right: 25px;
            #menu-icon {
                width: 40px;
                height: 25px;
                position: relative;
                display: block;
                margin-top: 0;
                margin-right: 0;
                .line {
                    display: block;
                    background:$yellow;
                    width: 40px;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                        &.line-1 {
                            top: 0;
                        }
                        &.line-2 {
                            top: 50%;
                        }
                        &.line-3 {
                            top: 100%;
                        }
                    }
                    &.active {
                        .line-1 {
                            transform: translateY(12px) translateX(0) rotate(45deg);
                            -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
                            -moz-transform: translateY(12px) translateX(0) rotate(45deg);
                        }
                        .line-2 {
                            opacity: 0;
                        }
                       .line-3 {
                            transform: translateY(-12px) translateX(0) rotate(-45deg);
                            -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
                            -moz-transform: translateY(-12px) translateX(0) rotate(-45deg);
                        }
                    }
                }
            }
        }

    #header-top_mobile {
        display:none;
        @media screen and (max-width:$screen-md) {
            display:block;
        }
    }
    #head-mobile {
        display:none;
        @media screen and (max-width:$screen-md) {
            display:block;
        }
    }
        //nav searchbar
        .navbar-form-search {
            position: relative;
            z-index: 10;
            @media screen and (max-width: $screen-md) {
                width: 100%;
            }
            .icon-magnifying-glass:before, .icon-close-x:before {
                content: "";
                position: absolute;
                top: -4px;
                left: 1px;
                transition: 0.3s linear;
                -webkit-transition: 0.3s linear;
                z-index: 10;
                color: $white;
                font-size: 20px;
                font-weight: $normal;
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-size: contain;
                filter: invert(1);
                @media screen and (max-width: $screen-md) {
                    left: 5px;
                    top: calc(50% - 10px);
                }
            }
            .icon-magnifying-glass, .icon-close-x {
                position: relative;
                width: 20px;
                height: 20px;
                display: inline-block;
            }
            .icon-magnifying-glass {
                @media screen and (max-width: $screen-md) {
                    top: -1px;
                }
            }
            .icon-magnifying-glass:before {
                background-image: url('/wp-content/themes/postali-child/images/icon-search.svg');
                filter: invert(0);
                @media screen and (max-width: $screen-md) {
                    filter: invert(1);
                }
            }
            .icon-close-x:before {
                background-image: url('/wp-content/themes/postali-child/images/plus-icon.svg');
            }
            .form-control {
                width: 175px;
                padding: 4px 6px;
                font-size: 16px;
                border: 0;
                font-family: $sans;
                position: relative;
                top: -2px;
                left: 10px;
                @media screen and (max-width: $screen-md) {
                    width:90%;
                    float: left;
                    left: 0;
                    top: -1px;
                }
            }
            .btn:not(.btn-search) {
                border: 0;
                background: transparent;
                font-size: 1.8rem;
                padding:0;
                cursor: pointer;
                &:active,
                &:hover,
                &:focus {
                    color: #000;
                    outline: none;
                    box-shadow: none;
                }
                span {
                    color:$blk;
                    font-weight: bold;
                }
            }
    
            .btn-search {
                height:30px;
                border-radius: 0 10px 10px 0;
                border: 0;
                background:$white;
                padding:8px;
                position: relative;
                top: 0;
                right: -5px;
                span {
                    color:$white;
                }
            }
            
            .search-form-container {
                text-align: right;
                position: absolute;
                width: 250px;
                overflow: hidden;
                background: $white;
                right: 11px;
                top: 0;
                z-index: 9;
                transition: all .3s ease-in-out;
                border-radius: 10px 0 0 10px;
                @media screen and (max-width: $screen-md) {
                    width:100%;
                    left:0;
                    right: auto;
                    top:15px;
                    border-radius: 0;
                    background: $white;
                    border: solid 1px $dkblue;
                }
                &.hdn {
                    width: 0;
                    @media screen and (max-width: $screen-md) {
                        width:100%;
                    }
                    & ~ .btn-search {
                        height: 30px;
                        background: none;
                        border-radius: 50%;
                        padding:8px 9px;
                        margin-bottom: 0;
                        &:hover {
                            .icon-magnifying-glass:before {
                                color: $mdgrey;
                            }
                        }
                        @media screen and (max-width: $screen-md) {
                            width:auto;
                            height: 35px;
                            background: none;
                            padding: 8px;
                            position: absolute;
                            z-index: 80;
                            right: 5px;
                            top: 16px;
                            width: 35px;
                            border-radius: 0;
                            border: 0;
                            span {
                                color:$white !important;
                            }
                            .icon-magnifying-glass:before {
                                color: $blk;
                            }
                        }
                        span {
                            color:$blk;
                        }
                    }
                }
                .search-input-group {
                    width: 250px;
                    display: flex;
                    padding: 5px;
                    height:30px;
                    @media screen and (max-width: $screen-md) {
                        width:100%;
                        height: 35px;
                    }
                    .form-group {
                        @media screen and (max-width: $screen-md) {
                            width:100%;
                        }
                    }
                    .btn {
                        border: 0;
                        background: $mdgrey;
                        font-size: 1.6rem;
                        padding: 4px 8px 0;
                        border-radius: 5px 0 0 5px;
                        height: 32px;
                        @media screen and (max-width: $screen-md) {
                            display:none;
                        }
                        span {
                            color:$white;
                        }
                    }
                }
            }
        }
}

// item-specific fixes for blog, results //

.blog {
    #menu-item-11271 {
        a {
            color:$yellow !important;
        }
    }
}

.category-case-results {
    #menu-item-13 {
        a {
            color:$yellow !important;
        }
    }
}
