/**
 * Theme footer
 *
 * @package Postali Child
 * @author Postali LLC
**/

@mixin plain_text_logo {
    .logo_no_animate { 	
        float: left; 
        position: absolute; 
        top: 10%; 
        width: 500px; 
        @media screen and (max-width: $screen-lg) {
            width: 300px;
            top: 19%;
        }
        a { 
            position: relative; 
            display: block; 
            visibility: visible; 
            font-weight: normal;  
            &:hover { 
                text-decoration: none; 
            }
        }
        img { 
            display: block; 
            position: relative; 
            top: -50%; 
            width: auto!important; 
            max-width: none; 
            max-height: 72px; 
        } 
        @media screen and (max-width: $screen-xs) {
            position: relative; 
            width: 85%; 
            max-width: 85%; 
            margin-top: 0; 
            img {
                top: 0;
            }
        }
    }
    .safari-mac .logo_no_animate {
        -webkit-animation: none; 
        -moz-animation: none; 
        -o-animation: none; 
        animation: none;
    } 
    #header_logo {
        &_block {
            float: left; 
            margin-right: 15px; 
        }
        &_topfont { 
            font-family: "trajan-pro-3",Palatino,Palatino Linotype,Book Antiqua,Georgia,serif; 
            font-style: normal; 
            font-weight: 300; 
            font-size: 23px; 
            text-transform: uppercase; 
            letter-spacing: 0px; 
            color: $white; 
            margin: 5px 0px 1px 0px !important; 
            line-height: 100%; 
            @media screen and (max-width: $screen-lg) {
                padding-top: 10px;
                font-size: 16px;
            }
            a { 
                color: $white; 
            }
            &_small { 
                font-family: "trajan-pro-3",Palatino,Palatino Linotype,Book Antiqua,Georgia,serif; 
                font-style: normal; 
                font-weight: 300; 
                color: $white; 
                font-size: 13px; 
                letter-spacing: 1px; 
                line-height: 100%;
            }
        }
        &_bottomfont { 
            font-family: $sans; 
            color: $white; 
            font-size: 14px; 
            text-transform: uppercase; 
            letter-spacing: 0px; 
            margin-top: -2px !important; 
            line-height: 100%; 
            @media screen and (max-width: $screen-lg) {
                font-size: 12px;
            }
        }
        @media screen and (max-width: $screen-xs) {
            &_block { 
                max-width: 240px!important; 
                margin-right: 4px; 
            }
            &_topfont { 
                font-size: 20px; 
                margin: 4px 0px 0px 0px !important; 
                letter-spacing: -1px; 
                &_small {
                    font-size: 8px;
                }
            }
            &_bottomfont { 
                display: none; 
            }
        }
    }
}
@mixin footer-contact {
    #footer_contact {
        background: #eee;
        padding: 20px;
        margin-top: 10px;
        border: 3px solid #c0bfbf;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        display: block;
        .middle {
            padding-top: 10px;
        }
        .left,
        .middle {
            display: block;
            p {
                box-sizing: border-box;
                padding: 0;
                margin:0 !important;
                &:nth-of-type(2) {
                    padding: 10px 0 !important;
                }
                input,
                textarea {
                    padding:10px;
                    width:100%;
                    box-sizing: border-box;
                    &::placeholder {
                        font-family: $sans;
                        font-size: 14px;
                    }
                }
                textarea {
                    height: 140px;
                }
            }
        }
        .right {
            display:block;
            p {
                box-sizing: border-box;
                padding: 0;
                margin:0 !important;
            }
            .wpcf7-form-control.wpcf7-submit {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 5px 0;
                box-sizing: border-box;
                font-size: 20px;
                border-radius: 0;
                border: none;
                background: $ltblue;
                text-transform: uppercase;
                color: $white;
                letter-spacing: 1px;
                font-weight: bold;
                font-family: $sans;
                &:hover {
                    cursor: pointer;
                    background: $mdblue;
                }
            }
            /*.ajax-loader {
                position:absolute;
            }*/
        }
    }
}