.page-template-page-ppc-landing,
.page-template-page-ppc-landing-pmax {

    .header-buttons {
        margin-top: 10px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        @media screen and (max-width: $screen-sm) {
            flex-direction: column;
            align-items: normal;
        }
    }

    #utility-desktop,
    .header-results,
    .phone_tab,
    footer,
    #mobile_contact_bar {
        display:none !important;
    }

    #header-top_center {
        margin-top: 0 !important;
    }

    .header-cta-text {
        font-weight: bold;
    }

    .header-bg {
        z-index: 2;
    }

    .container {
        max-width:$screen-xl;
        width:100%;
        padding: 0 60px;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
        display: flex;
        @media screen and (max-width:$screen-xl) {
            padding:0 50px ;
        }
        @media screen and (max-width: $screen-sm) {
            padding: 0 10% ;
        }
        &.wide {
            max-width: 90%;
            padding: 0 60px;
            @media screen and (max-width:$screen-lg) {
                max-width:100%;
            }
        }
        &.skinny {
            padding:0 10%;
            @media screen and (max-width:$screen-sm) {
                padding:0 60px;
            }
            @media screen and (max-width:$screen-xs) {
                padding:0 30px;
            }
        }
    }
    header {
        #header-top {
            height:80px !important;
            @media screen and (max-width: $screen-md) {
                align-items: center;
                &_left {
                    width: 100%;
                }
            }
            @media screen and (max-width:$screen-sm) {
                padding: 0 30px;
            }
        }
    }
    .logo_no_animate {
        @media screen and (max-width: $screen-xs) {
            max-width: 90% !important;
            width: 90% !important;
            position: absolute !important;
            #header_logo_bottomfont {
                display: block !important;
            }
        }
        @media screen and (max-width: $screen-xxs) {
            transform: scale(.85);        
        }
    }
    h2 {
		font-size: 30px;
        text-transform: capitalize !important;
        font-weight: bold !important;
	}
	h3 {
		font-size: 24px !important;
        margin-bottom: 10px !important;
        font-weight: bold !important;
	}
    .spacer-50 {
        @media screen and ( max-width: $screen-sm ) {
            height: 50px;
            display: block;
        }
    }
    section {
        padding: 120px 0;
        @media screen and (max-width: $screen-sm) {
            padding: 60px 0;
        }
        @media screen and (max-width: $screen-xs) {
            padding: 40px 0;
        }
        &#header {
            background-size: cover;
            background-position: center center;
            padding:120px 0;
            background-position: center top;
            @media screen and (max-width:$screen-xs) {
                background-image:none !important;
                margin-top: 0;
                padding: 80px 0;
                background-color: #000000;
                h1 {
                    font-size: 38px;
                }
                .spacer-30 {
                    height: 1px;
                }
            }
            .mobile-bg {
                display:none;
                @media screen and (max-width:$screen-xs) {
                    display:block;
                    background-size:cover;
                    background-position: top right;
                    height:150px;
                    margin-bottom: 25px;
                }
            }
        }
        &#about {
            #attorney-img {
                .attorney_blocks {
                    width: 100%;
                    justify-content: flex-end;
                    display: flex;
                    @media screen and (max-width:$screen-xs) {
                        flex-wrap: wrap;
                    }
                    a,
                    span {
                        width: auto;
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        position: relative;
                    }
                }
                &.column-50 {
                    .attorney-img {
                        width: 90%;
                        margin: 0 5%;
                        @media screen and (max-width:$screen-xs) {
                            margin: 20px 0;
                            width: 100%;
                        }
                    }
                }
                &.column-33 {
                    .attorney-img {
                        width:90%;
                    }
                }
            }
            .spacer-60 {
                @media screen and (max-width:$screen-xs) {
                    height:25px;
                }
            }
        }
        &#testimonials {
            .testimonial_author {
                font-size:15px;
            }
        }
        &#awards {
            padding:40px 0;
            .columns {
                align-items: normal;
                .column-full {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    align-items: center;
                    box-sizing: border-box;
                    @media screen and (max-width:$screen-xs) {
                        flex-wrap: wrap;
                    }
                    .slick-track {
                        display: flex;
                        width: -webkit-fit-content !important;
                        width: -moz-fit-content !important;
                        width: fit-content !important;
                        justify-content: center;
                        .award-slide {
                            display: flex !important;
                            justify-content: center;
                            min-width: 200px;
                            .award-img {
                                display: block;
                                height: 100px;
                                width: auto !important;
                                margin: 0 20px;
                                @media screen and (max-width:$screen-xs) {
                                    height:120px;
                                }
                            }
                        }
                    }
                }
                .slider-arrow.next.slick-arrow,
                .slider-arrow.prev.slick-arrow {
                    background: $blk;
                    padding: 17px;
                    border: none;
                    border-radius: 50%;
                    font-size: 0;
                    position: relative;
                }
                .slider-arrow.next.slick-arrow {
                    position:absolute;
                    right:-30px;
                    &::after {
                        content:"→";
                        position: absolute;
                        font-size: 14px;
                        top: 10px;
                        left: 12px;
                        color:$white;
                    }
                }
                .slider-arrow.prev.slick-arrow {
                    position:absolute;
                    left:-30px;
                    &::after {
                        content:"←";
                        position: absolute;
                        font-size: 14px;
                        top: 10px;
                        left: 9px;
                        color:$white;
                    }
                }
            }
        }
        &#results {
            h2 {
                font-size: 32px;
                margin-bottom: 30px;
            }
            .testimonial_author {
                font-size:15px;
            }
        }
        &#page-footer {
            @include plain_text_logo;
            .custom-logo {
                max-width: 150px !important;
                display: block;
            }
        }
        .footer-cta-form {
            .input {
                input,
                textarea {
                    width: 100%;
                    margin:0;
                }
                .label {
                    margin-bottom: 10px;
                }
            }
        }
    }
    // columns and spacers //
    .columns {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        box-sizing: border-box;
        align-items: flex-start;
        .column-20,
        .column-25,
        .column-50,
        .column-75,
        .column-full,
        .column-33,
        .column-66 {
            display:block;
            position: relative;
            box-sizing: border-box;
        }
        .column-break {
            width:100%;
            height:1px;
        }
        .column-20 {
            width:19.5%;
        }
        .column-25 {
            width:23%;
        }
        .column-50 {
            width:45%;
            &.first {
                @media screen and (max-width:$screen-md) {
                    margin-bottom: 40px;
                }
            }
        }
        .column-33 {
            width:30%;
        }
        .column-66 {
            width:63%;
        }
        .column-75 {
            width:66%;
        }
        .column-full {
            width:100%;
            justify-content: space-between;
        }
        .column-25,
        .column-50,
        .column-75,
        .column-full,
        .column-33,
        .column-66 {
            @media screen and (max-width:$screen-md) {
                width:100%;
            }
            &.center {
                margin:0 auto;
            }
            &.centered {
                text-align: center;
            }
        }
    }

    // spacing elements //
    .spacer-break,
    .spacer-line,
    .spacer-15,
    .spacer-30,
    .spacer-60,
    .spacer-90 {
        display:block;
        width:100%;
    }
    .spacer-break { height:1px; }
    .spacer-line { height:1px; border-bottom:1px solid $white; margin:30px 0; width: 100%; }
    .spacer-15 { height:15px; }
    .spacer-30 { height:30px; }
    .spacer-60 { height:60px; }
    .spacer-90 { height:90px; }

    // font styles, misc styling
    .container {
        .columns {
            p {
                margin-bottom: 30px;
            }
            .testimonial-img {
                max-width: 110px;
                margin:0;
            }
            .stars {
                color: $yellow;
                margin: 30px 0 15px;
                display: block;
                font-size: 24px;
            }
        }
    }
    .btn,
    input[type="submit"],
    .frm_button_submit {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0 50px;
		text-decoration: none;
		font-family: $sans;
		line-height: 100%;
		height: 60px;
		box-sizing: border-box;
		font-size: 16px;
		cursor: pointer;
		background: $yellow;
		color: $blk;
		transition: .2s ease all;
		border: none;
        font-weight: bold;
		&::before {
			display: none !important;
		}
		&:hover {
			background: $blk;
			transition: .2s ease all;
			text-decoration: underline;
			color: $white;
			&::before {
				display: none !important;
			}
		}

        &.blue {
            background: $dkblue;
            color: $white;
            font-weight: bold;
            &:hover {
                background: darken($dkblue, 10%);
                color: $white;
                text-decoration: none;
            }
        }
    }
	.gfield {
		margin-bottom: 20px;
	}
	.gfield_label {
		font-family: $sans;
	}
    #bottom-right-black-bubble-invite-container,
    .liveChatFloatingButton,
    #ngageMobileInvite,
    .liveChatFloatingButtonMobile {
        display: none !important;
    }
    .frm_style_formidable-style.with_frm_style .frm_error_style {
        background-color: red;
        border: none;
        p {
            font-size: 14px;
            margin-bottom: 0 !important;
        }
    }
}
