/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$screen-xxl: 1660px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-lg-md: 1024px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 667px;
$screen-xxs: 480px;
$screen-xxxs: 360px;

// Containers
$container-max-width: $screen-xxl;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #303030;
$white: #FFFFFF;
$yellow: #F8C958;
$ltyellow: #FFC939;
$dkblue: #002c46;
$mdblue: #0e4567;
$menuhoverblue: #1A3D58;
$menulinkhover: #F1CB6B;
$blue: #266496;
$ltblue: #266496;
$ltgrey: #eeeeee;
$grey: #D3D3D3;
$mdgrey: #d4d3d3;
$ltgrey: #EEEEEE;

// Link Attributes
// $link-color: $lt-red;
// $link-hover-color: $grey;
$link-transition-speed: .15s;
$trans: 0.2s linear;

// Typography
//$FONTFAMILY: 'FONTFAMILY', sans-serif;
$icomoon: 'Icomoon';
$serif: 'Noto Serif', serif;
$sans: 'Source Sans Pro', sans-serif;

// $body-font-family: $overpass;
// $body-text-color: $dk-blue;
$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;